header {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.header-container {
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 83px;
    max-width: 1440px;
    margin: 0 auto; 
}

.officer {
    margin: 0 10px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 50px;

}

li a {
    color:#05736A;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #77D1C7;
    text-decoration: none;
    font-weight: bold;
}