.main {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}

.admin {
  margin: 100px auto;
  max-width: 250px;
  font-size: 20px;
  color: lightskyblue;
}

@media only screen and (max-width: 700px) {
  .info {
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .admin {
    margin-top: 20px;
  }
}
